body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1600891964599-f61ba0e24092?auto=format&fit=crop&w=1470&q=80');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

input,
button {
    padding: 10px;
    font-size: 16px;
    margin: 5px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    margin-left: 5px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

li {
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

li.riscado {
    text-decoration: line-through;
    color: red;
}